<div class="row">
	<div class="container">
		<div class="row">
			<div class="col-md-12">
				<div class="panel panel-default">
					<div class="panel-heading">
						<div class="row">
							<h3 class="panel-title text-center">Queries</h3>
							<div class="col col-xs-12 text-right" data-turbolinks="false">
      					<%= link_to "Create New Query", new_query_path, class: "btn btn-sm btn-primary" %>
      				</div>
						</div>
					</div>
					<div class="panel-body">
					</div>
					<div class="panel-footer">
						<div class="row">
							<div class="col-md-12">	
								<table class="table table-bordered table-striped" id="query_datatable">
									<thead>
										<tr class="text-center">
											<th>Action</th><th>Query Name</th><th>Query Description</th><th>Owner</th>
										</tr>
									</thead>
									<tbody>									
										<% @queries.each do |query| %>
											<tr class="text-center">		
												<td>
													<a href='#' data-toggle="modal" data-target="#modal_<%= query.id %>"><span class="btn btn-default"><i class="glyphicon glyphicon-eye-open"></i></span></a>
													<%= link_to edit_query_path(query), title: 'Edit', class: "btn btn-warning" do %>
		            						<i class="glyphicon glyphicon-pencil"></i>
		            					<% end %>
		            					<%= link_to query_path(query), method: :delete, data: {confirm: 'Are you sure?'}, title: 'Delete', class: "btn btn-danger" do %>
		            						<i class="glyphicon glyphicon-trash"></i>
		            					<% end %>
												</td>
												<td><%= query.query_name %></td>
												<td><%= query.query_description %></td>
												<td><%= query.user.user_name %></td>
											</tr>
										<% end %>
									</tbody>
								</table>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
<% @queries.each do |query| %>
	<div id="modal_<%= query.id %>" class="modal fade" role="dialog">
	  <div class="modal-dialog">
	    <div class="modal-content">
	      <div class="modal-header">
	        <button type="button" class="close" data-dismiss="modal">&times;</button>
	        <h4 class="modal-title"><%= query.query_name %></h4>
	      </div>
	      <div class="modal-body">
	      	<div class="row">
						<div class="col-md-12">
							<div class="panel panel-default">
								<div class="panel-heading">
									<div class="row">
									</div>
								</div>
								<div class="panel-body">
									<p><%= query.saved_query %></p>
								</div>
								<div class="panel-footer">
									<div class="row">
										<%= form_tag(query_path(query.id), method: "get") do %>
											<div class="row">
												<div class="col-md-4 col-md-offset-3">
													<%= select_tag :environment_name, options_from_collection_for_select(Environment.all, 'id', 'environment_name'), class: 'form-control pull-right' %>
												</div>
												<div class="col-md-5">
													<%= submit_tag "Execute", class: "btn btn-primary" %>
												</div>
											</div>
										<% end %>
									</div>
								</div>
							</div>
						</div>
					</div>
	      </div>
	      <div class="modal-footer">
	        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
	      </div>
	    </div>
	  </div>
	</div>
<% end %>